*.pyc
*.pyo
.project
.pydevproject
*.orig
.noseids
media/static
media/build
media/uploads
.settings/
.DS_Store
conf/local_settings.py
service_catalog/local_settings.py
local_settings.py~
conf/deploy.py
media/files/.sass-cache/*
media/files/css/.sass-cache/*
media/files/css/themes/old/*.css
media/files/css/themes/new/*.css
.idea/
#sphinx_doc/build/*
.ropeproject/*
